@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins;
}

body {
  scroll-behavior: smooth;
}

@layer components {
  .primary-btn-outline {
    background-color: transparent;
    border: 1px solid #a53232;
    color: black;
  }

  .primary-btn-outline:hover {
    background-color: #a53232;
    color: white;
  }
}
